
.navbar{
    display: flex;
    background-color: rgb(100, 100, 102);
}
.navbar a{
    color: white;
}

.logo {
    margin-left: 50px;
    padding: 5px;
}
.logo img{
    width: 100px;
}

.logo p{
    display: inline-flex;
}
#conf{
    color: white;
    font-size: 20px;
}

header{
    background: url("img/ba1.jpg");
    
}

.section{
display: block;
}
.descripcion-header {
  
    color: white;
    
}
.descripcion-header p{
    position: absolute;
    display: inline-block;
    text-align: right;
}
#Bs-As-titulo{
    text-align: right;
    margin-top: 15%;
}

.botones {
    margin-left: 50%;
    box-sizing: content-box;
    position: absolute;
    margin-top: 25%;
   
}
#boton1 {
    color: white;
    background-color:transparent;
    border-radius: 5px;
    border-color: white;
}
#boton2{
    color: white;
    background-color: forestgreen;
    border: none;
    border-radius: 5px;

}
#boton3 {
    color: white;
    background-color:transparent;
    border-radius: 5px;
    border-color: white;
}
.textos{
    font-size: 10px;
    padding: 10px;
}

.parrafoCentralizado{
    font-size: 20px;
    text-align: center;

}
.tituloCentralizado{
    font-size: 25px;
    text-align: center;
    color: #000000;
}
.card-group{
    gap: 20px;
}
.caja{
    color: white;
}
.formmulario {
    width: 50%;
}
.form{
    padding: 0 10px;
      
}

.datos{
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
    gap: 3px;
}
.datos input{
    width: 20%;
   
}
.cuadro{
    display: flex;
    justify-content: center;
   
}
#parrafo{
    display: flex;
    margin-left: 30%;
}
.enviar{
    width: 40%;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 15px;
    background-color: limegreen;
    border: none;
    color: white;
    margin-left: 30%;
 
}
.cuadro input{
    width: 35%;
    padding: 20px 25px;
}
footer{
    width: auto;
    margin-top: 10px;
    background-color:#214d67;
    padding: 10px;
}
footer ul{
    color: white;
    justify-content: center;
    display: flex;
    gap: 40px;
}
@media screen and(max-width:480px){
    body{
        background-color: blue;
    }
}